<ion-tabs>

  <ion-tab-bar slot="bottom"  color="dark">
    <ion-tab-button tab="negocio" href="/tabs/negocio">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>NEGOCIO</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="productos" href="/tabs/productos">
      <ion-icon aria-hidden="true" name="bag-outline"></ion-icon>
      <ion-label>TIENDA</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home1" href="/tabs/home1">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>INICIO</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="carrito" href="/tabs/carrito">
      <ion-icon aria-hidden="true" name="cart-outline"></ion-icon>
      <ion-label>CARRITO</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="login" href="/tabs/login">
      <ion-icon aria-hidden="true" name="exit-outline"></ion-icon>
      <ion-label>SESION</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
