<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form>
    <ion-item>
      <ion-label position="floating">Correo Electronico</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </form>
  <ion-button>Ingresar</ion-button>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/registro-login']">Registarse</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>