<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Mapa
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="enableAddingMarker()">Agregar Ubicación</ion-button>
      <ion-toolbar color="primary">
        <ion-button expand="full" (click)="saveMarker()" [disabled]="!addingMarker">Guardar Ubicación </ion-button>
      </ion-toolbar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/sintitulo.png" alt="Imagen Sintitulo" class="full-image" />

  <div id="map" class="map-container"></div>

  <!-- Lista de marcadores -->
  <ion-list class="marker-list">
    <ion-item *ngFor="let marker of markers" class="marker-item">
      <ion-icon name="pin" slot="start" class="marker-icon"></ion-icon>
      <ion-label>{{ marker.title }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-button expand="full" (click)="saveMarker()" [disabled]="!addingMarker">AutoHelp 2024</ion-button>
  </ion-toolbar>
</ion-footer>
