<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Mapa
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="enableAddingMarker()">Agregar Ubicación</ion-button>
      <ion-toolbar color="primary">
        <ion-button expand="full" (click)="saveMarker()" [disabled]="!addingMarker">Guardar Ubicación </ion-button>
      </ion-toolbar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map"></div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-button expand="full" (click)="saveMarker()" [disabled]="!addingMarker">AutoHelp 2024</ion-button>
  </ion-toolbar>
</ion-footer>
